{% extends 'base.html' %}

{% block css %}

    {% load widget_tweaks %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/login.css' %}">

{% endblock %}

{% block content %}

    {% if not user.is_authenticated %}
        <nav class="navbar navbar-dark bg-inverse">
            <a class="navbar-brand" href="#">Don't sit!</a>
            <form class="form-inline float-xs-right" action="{% url 'core:login' %}">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
        </nav>
    {% else %}

    {% endif %}

<div class="container">
    {% block container %}
        <div class="b-login_form">
            <form method='post'>
                {% csrf_token %}
                <div class="b-login_form_field">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            {{ form.username|attr:"class:form-control" }}
                        </div>
                    </div>
                </div>
                <div class="b-login_form_field">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            {{ form.password|attr:"class:form-control" }}
                        </div>
                    </div>
                </div>
                <div class="b-login_form_field">
                    <div class="row">
                        <div class="col-md-4 offset-md-1">
                            <input class="btn btn-primary" type="submit" value="login">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
</div>

{% endblock %}