{% extends 'base.html' %}

{% block css %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/logout.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/user.css' %}">

{% endblock %}

{% block content %}

      {% if not user.is_authenticated %}
      <nav class="navbar navbar-dark bg-inverse">
          <a class="navbar-brand" href="#">Don't sit!</a>
          <form class="form-inline float-xs-right" action="{% url 'core:login' %}">
              <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
      </nav>
      {% else %}

      {% endif %}

  <div class="container">
      {% block container %}
          <div class="starter-template">
            <h1>Good bye!</h1>
          </div>
      {% endblock %}
  </div>

{% endblock %}