{% extends 'base.html' %}

{% block css %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/registration.css' %}">

{% endblock %}

{% block content %}

        <nav class="navbar navbar-dark bg-inverse">
            <a class="navbar-brand" href="#">Don't sit!</a>
            <form class="form-inline float-xs-right" action="{% url 'core:login' %}">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
        </nav>

    {% load widget_tweaks %}
    <div class="container">
        {% block container %}
            <div class="b-register_form">
                <form method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="b-register_form_field">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                {{ form.username|attr:"class:form-control" | attr:"placeholder:Username"  }}
                            </div>
                        </div>
                    </div>
                    <div class="b-register_form_field">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                {{ form.password1|attr:"class:form-control" | attr:"placeholder:Password" }}
                            </div>
                        </div>
                    </div>
                    <div class="b-register_form_field">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                {{ form.password2|attr:"class:form-control" | attr:"placeholder:Confirm password"  }}
                            </div>
                        </div>
                    </div>
                    <div class="b-register_form_field">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                {{ form.first_name|attr:"class:form-control" | attr:"placeholder:First name"  }}
                            </div>
                        </div>
                    </div>
                    <div class="b-register_form_field">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                {{ form.last_name|attr:"class:form-control" | attr:"placeholder:Last name"  }}
                            </div>
                        </div>
                    </div>
                    <div class="b-register_form_field">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                {{ form.avatar|attr:"class:custom-file-input" | attr:"placeholder:Choose avatar"  }}
                                <span class="custom-file-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="b-register_form_field">
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <input class="btn btn-primary" type="submit" value="Register">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endblock %}
    </div>

{% endblock %}
