{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="header">
                {% include "topMenu.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-8">
                <div class="b-posts_all">
                    {% include "post/newPostForm.html" %}
                    {% for curr_post in posts %}
                        {% include "post/post.html" %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-2">
                <div class="user_side_card">
                    {% include "core/userSideMenu.html" %}
                    {% include "core/userSideFriends.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
