{# @params: curr_post #}

<article class="b-post">
    {% load static %}
          <link rel="stylesheet" type="text/css" href="../../static/css/post.css">
    <a class="user_href_in_post" href="/user/{{ curr_post.creator.username }}">
        <div class="b-post_creator">
            <img src="{{ curr_post.creator.avatar.url }}" alt="Avatar" height="50" width="50">
            {{ curr_post.creator.first_name }} {{ curr_post.creator.last_name }} <br>
        </div>
    </a>
    <div class="b-post_content">
        <div class="b-post_text">
            {{ curr_post.type }}
            {{ curr_post.text }}
        </div>
    </div>
    {{ curr_post.time |date:"d.m.Y H:i" }}
</article>