{# @params: curr_post #}

<article class="b-post">
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">

    <div class="b-post-edit-back" id="b-post-edit-back{{ curr_post.pk }}">
        <div class="b-post-background">

        </div>
    </div>

    <div class="container">

        <div class="row" id="b-post_header">
            <div class="col-xs-8" style="padding-left: 0">
                <div id="b-post_creator">
                    <a class="user_href_in_post" href="{% url 'core:username' curr_post.creator.username %}">
                        <img src="{{ curr_post.creator.avatar.url }}" alt="Avatar" height="50" width="50">
                        {{ curr_post.creator.first_name }} {{ curr_post.creator.last_name }} <br>
                    </a>
                </div>
            </div>
            <div class="col-xs-4" id="b-post_time">
                {{ curr_post.time |date:"d.m.Y H:i" }}
            </div>
        </div>
        <div class="row" id="b-post_body">
            <div class="col-xs-1" id="b-post_type">
                <img src="/static/post_type/{{ curr_post.type }}.png">
            </div>
            <div class="col-xs-11" id="b-post_content">
                <div class="b-post_text">
                    {{ curr_post.text|linebreaks }}
                </div>
            </div>
        </div>
        <div class="row" id="b-post_footer">

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <form method="post" action="{% url 'post:edit' pk=curr_post.pk %}">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit post</h4>
                            </div>
                            <div class="modal-body">

                                {% csrf_token %}
                                <div class="form-group">
                                    {{ editPostForm.type | add_class:"edit-type-choice" }}
                                </div>
                                <div class="form-group">
                                    <label for="text">Post text</label>
                                    <textarea name="text" class="form-control" id="text" rows="3">{{ curr_post.text }}</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-outline-success" type="submit">Save</button>
                                <!--<input type="submit" value="post"> -->


                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-xs-1">
                <a class="b-post-edit-button" data-post-id="{{ curr_post.pk }}">
                    <button class="btn btn-info btn-md edit-start-button" data-toggle="modal"
                            data-target="#myModal" type="button"
                            data-post-type="{{ curr_post.type }}">
                        Edit
                    </button>
                    <!--<input type="submit" value="post"> -->
                </a>
            </div>

            <div class="col-xs float-xs-right" id="b-post_likes">
                <div class="post-likes-form" data-likes-url="{% url 'post:likes' pk=curr_post.pk %}">
                    <span class="post-likes" aria-hidden="true" data-post-id="{{ curr_post.pk }}">                        </span>
                    <button type="button" class="btn btn-default btn-md">
                        Likes
                        <span class="post-likes-count" data-post-id="{{ curr_post.pk }}">0</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="likes-url" data-likes-url="{% url 'post:likes_all' %}"></div>
</article>