<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="../../static/css/user.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="header">
            {% block header %}
                {% if user.is_authenticated %}
                    <nav class="navbar navbar-dark bg-inverse">
                        <a class="navbar-brand" href="#">Don't sit!</a>
                        <ul class="nav navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'homePage' %}">Homepage <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Feed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Friends</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline float-xs-right" action="{% url 'core:logout' %}">
                            <button class="btn btn-outline-success" type="submit">Logout</button>
                        </form>
                    </nav>
                {% else %}
                    <nav class="navbar navbar-dark bg-inverse">
                        <a class="navbar-brand" href="#">Don't sit!</a>
                        <form class="form-inline float-xs-right" action="{% url 'core:login' %}">
                            <button class="btn btn-outline-success" type="submit">Login</button>
                        </form>
                    </nav>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-8">
            <div class="posts_all">
                {% include "post/newPostForm.html" %}
                    <div class="post_list">
                        {% block posts %}
                            {% if user.is_authenticated %}
                                {% for curr_post in posts %}
                                    {% include "post/post.html" %}
                                {% empty %}
                                    <li>
                                        No posts yet.
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                    </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="user_side_card">
                {% include "core/userSideMenu.html" %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            1 of 2 (stacked on mobile)
        </div>
        <div class="col-xs-12 col-sm-6">
            1 of 2 (stacked on mobile)
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>


</body>
</html>

